{
  "extends": ["react-app"],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "rules": {},
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
}
